@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caveat&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:wght@100&family=Lora:ital@1&family=Mulish:wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --black: #052520;
    --blue: #f5d25a;
    font-family: 'Kantumruy Pro', sans-serif;
    --bg-clr: #f9e59f;

    --form-width: 33vw;
    font-size: 10pt;

}

body {
    letter-spacing: 1px;
}

/* =====
    containers
   =====*/

.container {
    display: flex;
    background-color: var(--bg-clr);
    /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='44' height='40' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M46.231 19.999a5.937 7.48 0 01-5.937 7.48A5.937 7.48 0 0134.357 20a5.937 7.48 0 015.937-7.48 5.937 7.48 0 015.937 7.48zm-40.421 0a5.937 7.48 0 01-5.937 7.48A5.937 7.48 0 01-6.064 20a5.937 7.48 0 015.937-7.48 5.937 7.48 0 015.937 7.48zm20.21 20.285a5.937 7.48 0 01-5.937 7.48 5.937 7.48 0 01-5.936-7.48 5.937 7.48 0 015.936-7.48 5.937 7.48 0 015.937 7.48zm0-40.57a5.937 7.48 0 01-5.937 7.48 5.937 7.48 0 01-5.936-7.48 5.937 7.48 0 015.936-7.48 5.937 7.48 0 015.937 7.48zM-5.732 46.942c1.676-.944 3.556-1.6 5.478-1.587 1.924.011 3.796.69 5.463 1.653 1.668.962 3.156 2.202 4.637 3.434 1.48 1.233 2.97 2.471 4.641 3.428 1.67.957 3.547 1.627 5.47 1.627 1.924 0 3.8-.67 5.47-1.627s3.161-2.195 4.642-3.428c1.48-1.232 2.968-2.472 4.636-3.434 1.667-.963 3.54-1.642 5.463-1.653 1.922-.012 3.802.643 5.479 1.587V33.628c-1.677.944-3.557 1.6-5.479 1.587-1.923-.011-3.796-.69-5.463-1.653-1.668-.962-3.156-2.202-4.636-3.434-1.48-1.233-2.971-2.471-4.642-3.428-1.67-.957-3.546-1.627-5.47-1.627-1.923 0-3.8.67-5.47 1.627s-3.161 2.195-4.641 3.428c-1.48 1.232-2.97 2.472-4.637 3.434-1.667.963-3.54 1.641-5.463 1.653-1.922.012-3.802-.643-5.478-1.587zM45.647-6.943c-1.677.944-3.557 1.6-5.479 1.587-1.923-.011-3.796-.69-5.463-1.653-1.668-.962-3.156-2.202-4.636-3.434-1.48-1.233-2.971-2.471-4.642-3.428-1.67-.957-3.546-1.627-5.47-1.627-1.923 0-3.8.67-5.47 1.627s-3.161 2.195-4.641 3.428c-1.48 1.232-2.97 2.472-4.637 3.434-1.667.963-3.54 1.642-5.463 1.653-1.922.012-3.802-.643-5.478-1.587V6.372c1.676-.944 3.556-1.6 5.478-1.587 1.924.012 3.796.69 5.463 1.653C6.877 7.4 8.365 8.64 9.846 9.872c1.48 1.233 2.97 2.471 4.641 3.428 1.67.957 3.547 1.627 5.47 1.627 1.924 0 3.8-.67 5.47-1.627s3.161-2.195 4.642-3.428c1.48-1.232 2.968-2.472 4.636-3.434 1.667-.963 3.54-1.642 5.463-1.653 1.922-.012 3.802.643 5.479 1.587z' transform='translate(2,0)' stroke-width='1.5' stroke='hsla(47, 88%, 80%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
    background-image: url(img/yellow-bg.png);
    background-size: cover;
    background-position: right bottom;
}

.signup-form {
    width: var(--form-width);
    padding: 0 25px;
    align-self: center;
    flex-shrink: 0;

}

.sidepanel {
    flex-shrink: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

form {
    padding: 30px;
    display: flex;
    flex-direction: column;
}



.form-fields {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    font-size: 2rem;
    color: var(--bg-clr);
    margin: 0;
    font-weight: 800;
    font-family: "Work Sans";
}

h2 {
    padding: 0.9em 0 0.8em 0;
    color: var(--bg-clr);
    margin-bottom: 0;
    font-size: 1rem;
    /* text-align: left; */
}


/* form fields */
/* --- general */
form {
    background-color: var(--black);
    
    color: white;
    font-family: 'Kantumruy Pro', sans-serif;
}

.form-fields input {
    height: 45px;
    padding: 0.7em;
    font-size: 1.2rem;
    font-weight: 500;

    background-color: white;
}

input::placeholder {
    opacity: 0.7;
}


/* --- validation */

form input:valid {
    background: url(img/checkbox-circle-line.svg);
    background-color: white;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center right 15px;


}

/* La logique derrière ça est la suivante: 
If the input is invalid 
if it is also not focused (so the user is not in the process of filling it)
and if we don't see the placeholder (if we see the placeholder it's because


*/
input:invalid:not(:focus):not(:placeholder-shown) {
    background: url(img/close-circle-line.svg);
    background-color: white;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center right 15px;
}



/* password explanation */

.pwd-explanation {
    margin: 10px 0 0 0;

}

.pwd-explanation ul {
    /* padding: 0; */
    margin: 2px 0 12px 0;
}

.pwd-explanation li {
    margin: 0;
    padding: 0;
}



/* submit button */

.btn {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: var(--bg-clr);
    color: var(--black);
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    transition: transform 200ms, background 200ms;
    text-transform: uppercase;
}

.btn:hover {
    transform: translateY(-2px);
    background: var(--blue);

    /* color: var(--bg-clr); */
    /* box-shadow: 0 0 0 3px var(--bg-clr) inset; */
}

/* log in */

.log-in {
    margin-top: 30px;
}

.log-in a {
    text-decoration: none;
    color: var(--blue);
    font-weight: 700;
}

.log-in a:hover::after {
    content: " ·";
}


/* checkboxes */

ul.checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkboxes li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    word-wrap: break-word;


}

input[type="checkbox"]+label {
    display: inline-block;
    letter-spacing: 1px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    /* width: calc(25vw / 3); */
    max-width: 100%;
    padding: 14px 24px 16px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    transition: transform 200ms, background 200ms;
    background: transparent;
    color: white;
    box-shadow: 0 0 0 3px white inset;
    letter-spacing: normal;

}

input[type="checkbox"]+label:hover {
    transform: translateY(-2px);
}

li>input[type="checkbox"]:checked+label {
    display: inline-block;
    outline: 0;
    border: 0;
    background: var(--blue);
    color: var(--black);
    border-radius: 8px;
    box-shadow: 0 0 0 3px var(--blue) inset;
    padding: 14px 24px 16px;
    font-weight: 700;
    transition: transform 200ms, background 200ms;

}


input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;

}


/* =====
  side panel 
     =======*/
.sidepanel {
    /* width: clamp(12vw, 25vw, 33vw); */
    width: 33vw;
    height: 100vh;
    background: url(img/lights.jpg);
    background-size: cover;
    padding: 2vw;
}

.slogan {
    color: var(--bg-clr);
    margin-top: 2vw;
    /* max-width: calc(.sidepanel * .8); */
    max-width: 18vw;
    word-wrap: normal;
    font-size: 3.2rem;
    font-weight: 900;
    font-family: 'Work Sans';
    text-transform: uppercase;


}



.slogan>img {
    /* color: var(--bg-clr); */
    /*  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
    height: 2.2rem;
    padding-left: 0.3ch;
}

.slogan>span:last-child {
    background-color: var(--blue);
    color: var(--black);
}

.logo {
    filter: invert(87%) sepia(24%) saturate(690%) hue-rotate(337deg) brightness(108%) contrast(95%);
}